/.pytest_cache
/.vscode
/BACHELORTHESIS.egg-info
/README.md
/.png
/.pyc
/.gldb
/.pyc
/.cpython
/.cpython
src/__pycache__
src/model_parameter_sets/__pycache__/Strak_2021_model_parameters.cpython-39.pyc
src/model_parameter_sets/__pycache__/Strak_2021_model_parameters.cpython-39.pyc
src/model_parameters/__pycache__/Model_parameter_set.cpython-39.pyc
test/__pycache__/test_strak_2021_model_params.cpython-39-pytest-7.0.1.pyc
